@inject ApplicationDbContext _Context;
@{
    var categories = _Context.Categories;
    var social = _Context.Socialmedias.ToList();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.css">
    <!-- Layout Custome Style-->
    <link rel="stylesheet" href="~/SiteCss/LayOutStyle.css">
    <!-- Home Style -->
    <link rel="stylesheet" href="~/SiteCss/Home.css">
    @*<link rel="stylesheet" href="~/SiteCss/Home.scss">*@
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- Header-->
    <link href="~/SiteCss/LayOutStyle.css" rel="stylesheet" />
    @RenderSection("style", required: false)

    <style>
    </style>
</head>

<body>

    <!-------------------------------------------NAVBAR---------------------------------------->


    <header>
        <div class="pcScreenVersion">
            <div class="md">
                <div class="container">
                    <div class="logo-area">
                        <a href="/" class="logo" title="سبورتيجا">
                            <img class="dark-logo" src="~/lightLogo.jpg" width="320" height="113" alt="سبورتيجا">
                        </a>

                    </div>
                    <div class="left-area">
                        <div class="top">

                            <div class="social">
                                <a href="@social[0].Link" style="background:none">
                                    <i class="fab fa-facebook" style="color: #1877f2; width: inherit; height: inherit; font-size: 32px;"></i>
                                </a>
                                <a href="@social[1].Link" style="background:none">
                                    <i class="fab fa-youtube" style="color:red;width: inherit;height: inherit;font-size: 32px;"></i>
                                </a>
                                <a href="@social[2].Link" style="background:none">
                                    <i class="fab fa-twitter" style="color:#1DAaF2;width: inherit;height: inherit;font-size: 32px;"></i>
                                </a>
                                <a href="@social[3].Link" style="background:none">
                                    <i class="fab fa-blogger" style="color:#FFA500;width: inherit;height: inherit;font-size: 32px;"></i>
                                </a>


                            </div>

                        </div>
                        <div class="">
                            <div class="adfull m">
                                <div class="cont">
                                    <script async="" src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
                                    <div id="LedrLogo" data-google-query-id="CJj83_L_l_MCFcUm6QodRLsPZg">

                                        <div id="google_ads_iframe_/21981179284/Cairo24-2021-leaderboard-beside-logo-728x90_0__container__" style="border: 0pt none;"><iframe id="google_ads_iframe_/21981179284/Cairo24-2021-leaderboard-beside-logo-728x90_0" title="3rd party ad content" name="google_ads_iframe_/21981179284/Cairo24-2021-leaderboard-beside-logo-728x90_0" width="728" height="90" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" srcdoc="" data-google-container-id="2" style="border: 0px; vertical-align: bottom;" data-load-complete="true"></iframe></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="secondnav">

                <div class="right-btn">
                    <a href="#" style="margin-top: 5px; font-size: 20px; color: #ffc93c; " class="btn btn-primaryy menu" data-pushbar-target="menu" title="menu" rel="noreferrer noopener">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
                <div class="scroll-wrapper">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/"> الرئيسية</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Categories/1">كرة مصرية</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Categories/2">كرة عربية</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Categories/3">كرة عالمية</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Categories/1002">نجوم كرة القدم</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Categories/1003">ميركاتو</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Categories/1004">رياضات أخرى</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Categories/1005">تقارير وحورات </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Categories/1006"> تحقيقات صحفية</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Categories/1007">أقلام حرة  </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Categories/1008"> فيديوهات</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Categories/1009"> سبورتيجا لايت</a>
                        </li>
                    </ul>
                </div>
                <div class="left-btns">

                    <a href="#" style="margin-top: 5px; font-size: 20px; color: #ffc93c;" class="btn btn-primaryy search" onclick="openSearch()" title="search" rel="noreferrer noopener">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="minScreenVirsion">
            <nav class="navbar">
                <div class="nav-item-mobile">
                    <a href="#" class="btn btn-primaryy menu" data-pushbar-target="menu" title="menu" rel="noreferrer noopener">
                        <i class="fas fa-bars"></i>
                    </a>
                    <a href="/" class="logo" title="سبورتيجا">
                        <img src="~/Logo.jpg" width="168" height="50" loading="lazy" alt="سبورتيجا">
                    </a>
                    <a href="#" class="btn btn-primaryy search" onclick="openSearch()" title="search" rel="noreferrer noopener">
                        <i class="fa fa-search"></i>
                    </a>
                </div>

            </nav>


            <div class="scroll-wrapper-mobile">
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a href="/" class="nav-link" title=" سبورتيجا ">
                            الرئيسية
                        </a>
                    </li>
                    @foreach (var item in categories)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Categories/@item.ID">@item.Name</a>
                        </li>

                    }
                </ul>
            </div>
        </div>

    </header>

    <!------------------------------------------- VIEWS SECTION ---------------------------------------->


    <section>

        @RenderBody()
    </section>
    <!-------------------------------------------FOOTER--------------------------------------->


    <footer style="float: right; width: 100%; background:#000;">
        <div class="top" style="background: #000;">
            <div class="container">

                <div class="row">
                    <div class="col-12 col-lg-6">
                        <img src="~/Logo.jpg" class="sportigaCenter" style="width:70%"/>
                    </div>
                    <div class="col-12 col-lg-6" style="">

                        <div class="social socialCenter">
                            <a href="@social[0].Link" style="background:none">
                                <i class="fab fa-facebook" style="color: #fff; width: inherit; height: inherit; font-size: 32px;"></i>
                            </a>
                            <a href="@social[2].Link" style="background:none">
                                <i class="fab fa-twitter" style="color:#fff;width: inherit;height: inherit;font-size: 32px;"></i>
                            </a>
                            <a href="@social[1].Link" style="background:none">
                                <i class="fab fa-youtube" style="color:#fff;width: inherit;height: inherit;font-size: 32px;"></i>
                            </a>

                            <a href="@social[3].Link" style="background:none">
                                <i class="fab fa-blogger" style="color:#fff;width: inherit;height: inherit;font-size: 32px;"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="copy" style="text-align: center; height:30px; color: #fff; background: #000;">
            <div class="container">
                © 2021 sportiga.com All Rights Reserved.
            </div>
        </div>
    </footer>

    <!-------------------------------------------SIDE MENU---------------------------------------->


    <div class="menu-nav" data-pushbar-id="menu" data-pushbar-direction="right" style="right: 0;
    transform: translateZ(0) translateX(100%);">
        <div class="nav-side-menu">
            <div class="brand">
                <button type="button" aria-label="close" class="close" data-pushbar-close="">
                    <i class="fas fa-times"></i>
                </button>
                <a href="/" class="logo" title="سبورتيجا">
                    <img src="~/Logo.jpg" width="150" height="30" alt="سبورتيجا" style="margin-top:5px;" loading="lazy">
                </a>

            </div>
            <div style="text-align: center;float: right; width: 100%;padding: 10px;">
            </div>
            <div class="menu-list" style="height: calc(100% - 166px);">
                <ul class="nav flex-column" style="margin:0;">
                    <li class="nav-item ">
                        <a href="/" class="nav-link" title=" سبورتيجا ">
                            الرئيسية
                        </a>
                    </li>
                    @foreach (var item in categories)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Categories/@item.ID">@item.Name</a>
                        </li>

                    }
                </ul>
            </div>
            <div class="social">
                <a href="@social[0].Link" style="background:none">
                    <i class="fab fa-facebook" style="color: #1877f2; width: inherit; height: inherit; font-size: 32px;"></i>
                </a>
                <a href="@social[1].Link" style="background:none">
                    <i class="fab fa-youtube" style="color:red;width: inherit;height: inherit;font-size: 32px;"></i>
                </a>
                <a href="@social[2].Link" style="background:none">
                    <i class="fab fa-twitter" style="color:#1DAaF2;width: inherit;height: inherit;font-size: 32px;"></i>
                </a>
                <a href="@social[3].Link" style="background:none">
                    <i class="fab fa-blogger" style="color:#FFA500;width: inherit;height: inherit;font-size: 32px;"></i>
                </a>

            </div>
        </div>
    </div>



    <!-------------------------------------------Search---------------------------------------->

    <div id="search-box" class="">
        <button type="button" class="close" onclick="closeSearch()">×</button>
        <form id="search-form" method="post" asp-action="Search" asp-controller="Home">
            <label for="search"></label>
            <input type="text" id="search" name="search" value="" placeholder="  إكتب كلمة البحث هنا">
            <div class="btns">
                <button type="submit" class="btn btn-primary" aria-label="search">
                    <i class=" fa fa-search"></i>
                    بحث
                </button>
                <button type="button" class="btn btn-primary" onclick="closeSearch()"> إلغاء</button>
            </div>
        </form>
    </div>

    <!------------------------------------------------------------------------------------->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    <!-- Home JS-->
    <script src="~/SiteJS/Home.js"></script>
    <script>
        $('.btn-primaryy.menu').click(function () {
            $('.menu-nav').addClass('opened');
        });
        $(".close").click(function () {
            $(".menu-nav").removeClass("opened");
        });
        function openSearch() {
            $('#search-box').addClass("open");
        }
        function closeSearch() {
            $('#search-box').removeClass("open");
        }
    </script>

    @RenderSection("script", required: false)
</body>
</html>



