
@{
    ViewData["Title"] = "Edit Article";
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

}

@model Sportiga.Models.Articles

@section Customscripts{
    <script>

        function showtext() {
            var text = '@Html.Raw(ViewBag.articles.Topic)';
            document.querySelector('.note-editable p').innerHTML = `${text}`;

        }
        window.onload = function () {
            setTimeout(function () {
                var text = '@Html.Raw(ViewBag.articles.Topic)';
            document.querySelector('.note-editable p').innerHTML = `${text}`;
            }, 0);
        }
        var previewImg = function (e) {
            var result = document.getElementById("imgPreview");
            result.src = URL.createObjectURL(e.target.files[0])
        }

    </script>
}
@section Styles{ }
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form method="post" enctype="multipart/form-data" asp-controller="Articles" asp-action="Edit">

                <div class="ccard-headerol-md-12">
                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <!-- tools box -->
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse" data-toggle="tooltip"
                                        title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool btn-sm" data-card-widget="remove" data-toggle="tooltip"
                                        title="Remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                            <!-- /. tools -->
                        </div>
                        <!-- /.card-header -->

                        <div class="card-body pad">
                            <input type="hidden" asp-for="ID" value="@ViewBag.articles.ID" />
                            <div class="form-group ">
                                <input type="file" id="imgFile" name="imgFile" onclick="previewImg(event)"  />
                                <img id="imgPreview"  src="~/images/@ViewBag.Image" style="width: 250px; height: 250px; display: block" />
                            </div>
                            <div class="form-group ">
                                <label>Writer Name</label>
                                <input type="text" disabled value="@ViewBag.User.FullName" aria-label="Large" aria-describedby="inputGroup-sizing-sm" />
                                <input type="hidden" asp-for="ApplicationUsersId" class="form-control" value="@ViewBag.User.Id" />
                                <input type="hidden" asp-for="ApplicationUsers" class="form-control" value="@ViewBag.User" />
                                <span asp-validation-for="ApplicationUsersId" class="text-danger"></span>

                            </div>

                            <div class="form-group">
                                <label asp-for="Title"></label>
                                <input type="text" asp-for="Title" class="form-control" value="@ViewBag.articles.Title"
                                       placeholder=" Enter The Title" aria-label="Large" aria-describedby="inputGroup-sizing-sm"  />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="categoryId">Section</label>
                                <select class="form-control select2" asp-for="categoryId" style="width: 100%;">
                                    <option value="@ViewBag.articles.categoryId" selected>@ViewBag.catogry.Name</option>
                                    @foreach (var item in ViewBag.categories)
                                    {
                                        <option value="@item.ID">@item.Name</option>

                                    }
                                </select>
                                <span asp-validation-for="categoryId" class="text-danger"></span>

                            </div>
                            <div class="form-group">

                                <label asp-for="Topic"></label>
                                <textarea asp-for="Topic" class="textarea" placeholder="Place some text here"
                                          style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                <span asp-validation-for="Topic" class="text-danger"></span>

                            </div>
                        
                            <button type="submit" class="btn btn-info " id="SendNotification">Save Changes</button>

                        </div>
                    </div>
                </div>
                <!-- /.col-->
            </form>
        </div>
    </div>
    <!-- ./row -->
</section>
<!-- /.content -->