
@{
    ViewData["Title"] = "سبورتيجا";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style{
    <style>
        .carousel-item-small {
            height: 350px;
        }
        @@media(min-width:700px){
            .carousel-item-small{
                height:330px;
            }
        }
        /************/
        .sec-sport {
            background-image: url("/images/SectionBackground.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            padding: 30px 0;
            background-position: center;
            overflow: hidden;
        }

            .sec-sport .block .title {
                text-align: center;
            }

        .item-bg {
            position: relative;
            margin-bottom: 10px;
            float: right;
            width: 100%;
        }

        .sec-sport .item-bg .content-text {
            width: 95%;
            height: 110px;
            background: rgba(0,0,0,0.6);
            margin: auto;
            border-top: 2px solid #F0A306;
            position: absolute;
            bottom: 20px;
            z-index: 10;
            padding-top: 20px;
            padding-bottom: 20px;
            color: #fff;
            text-align: center;
            left: 2%;
        }

        .sec-sport .item-bg.sm .content-img {
            height: 180px;
        }

        .sec-sport .item-bg.sm h6 {
            font-size: 14px;
        }

        .sec-sport .item-bg.sm .content-text {
            height: 90px;
        }
    </style>
}
@section script{
    <script>

        $(document).ready(function () {
            $(window).on('load', function () {

                document.querySelectorAll("#custCarousel .carousel-inner .carousel-item")[0].classList.add("active");
                document.querySelectorAll("#custCarousel .carousel-indicators .list-inline-item")[0].classList.add("active");

            });

        })
    </script>
}
<section class="FirstSider">

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div id="custCarousel" class="carousel slide" data-ride="carousel" align="center">
                    <!-- slides -->
                    <div class="carousel-inner">
                        @foreach (var item in ViewBag.lastArticles)
                        {
                            <div class="carousel-item carousel-item-small "  >
                                <img src="~/images/@item.Image" alt="Hills" style="border-radius:20px;">
                                <div class="carousel-caption caption-custom" style="overflow:hidden">
                                    <a href="/Home/essay/@item.ID">
                                        <h3 style="font-size:19px">
                                            @item.Title
                                        </h3>
                                    </a>
                                </div>
                            </div>

                        }
                    </div> <!-- Left right -->
                    <ol class="carousel-indicators list-inline">
                        @{ var i = 0;
                            foreach (var item in ViewBag.lastArticles)
                            {
                                <li class="list-inline-item " style="height:35px">
                                    <a id="carousel-selector-@i" class="selected" data-slide-to="@i" data-target="#custCarousel">
                                        <img src="~/images//@item.Image"  class="img-fluid" style="height:100%">
                                    </a>
                                </li>

                                i = i + 1;
                            }
                        }
                    </ol>
                </div>
            </div>
            <div class="col-md-3"></div>

        </div>
    </div>



</section>

<section class="elmogz">
</section>

<section class="FirstSection">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 ">
                <div class="block">

                    <div class="title">
                        <a href="/Home/Categories/1" title="كرة مصرية">
                            <h2> كرة مصرية </h2>
                        </a>
                    </div>

                    <div class="content">
                        <div class="item-card">
                            <a href="/Home/Essay/@ViewBag.KoraMsrya[0].ID">
                                <div class="content-img">
                                    <img src="~/images/@ViewBag.KoraMsrya[0].Image" width="450" height="253" />
                                </div>
                                <div class="content-text">
                                    <h3>
                                        @ViewBag.KoraMsrya[0].Title
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="item-card">
                                    <a href="/Home/Essay/@ViewBag.KoraMsrya[1].ID">
                                        <div class="content-img ss">
                                            <img src="~/images/@ViewBag.KoraMsrya[1].Image" width="213" height="119" />
                                        </div>
                                        <div class="content-text">
                                            <h3>
                                                @ViewBag.KoraMsrya[1].Title
                                            </h3>
                                        </div>
                                    </a>
                                </div>

                            </div>
                            <div class="col-6">
                                <div class="item-card">
                                    <a href="/Home/Essay/@ViewBag.KoraMsrya[2].ID">
                                        <div class="content-img ss">
                                            <img src="~/images/@ViewBag.KoraMsrya[2].Image" width="213" height="119" />
                                        </div>
                                        <div class="content-text">
                                            <h3>
                                                @ViewBag.KoraMsrya[2].Title
                                            </h3>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="foot">
                        <a href="/Home/Categories/1" class="more" title="كرة مصرية">المزيد</a>
                    </div>
                </div><!--./block-->
            </div>

            <div class="col-12 col-md-6 ">
                <div class="block">

                    <div class="title">
                        <a href="/Home/Categories/2" title="كرة عربية ">
                            <h2> كرة عربية </h2>
                        </a>
                    </div>

                    <div class="content">
                        <div class="item-card">
                            <a href="/Home/Essay/@ViewBag.KoraArabya[0].ID">
                                <div class="content-img">
                                    <img src="~/images/@ViewBag.KoraArabya[0].Image" width="450" height="253" />
                                </div>
                                <div class="content-text">
                                    <h3>
                                        @ViewBag.KoraArabya[0].Title
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="item-card">
                                    <a href="/Home/Essay/@ViewBag.KoraArabya[1].ID">
                                        <div class="content-img ss">
                                            <img src="~/images/@ViewBag.KoraArabya[1].Image" width="213" height="119" />
                                        </div>
                                        <div class="content-text">
                                            <h3>
                                                @ViewBag.KoraArabya[1].Title
                                            </h3>
                                        </div>
                                    </a>
                                </div>

                            </div>
                            <div class="col-6">
                                <div class="item-card">
                                    <a href="/Home/Essay/@ViewBag.KoraArabya[2].ID">
                                        <div class="content-img ss">
                                            <img src="~/images/@ViewBag.KoraArabya[2].Image" width="213" height="119" />
                                        </div>
                                        <div class="content-text">
                                            <h3>
                                                @ViewBag.KoraArabya[2].Title
                                            </h3>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="foot">
                        <a href="/Home/Categories/2" title="كرة عربية " class="more">المزيد</a>
                    </div>
                </div><!--./block-->
            </div>

        </div>
    </div>
</section>

<section class="secondSection">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="block ">
                    <div class="title">
                        <a href="/Home/Categories/3" title="كرة عالمية">
                            <h2> كرة عالمية </h2>
                        </a>
                    </div>
                    <div class="content">
                        <div class="item-card">
                            <a href="/Home/Essay/@ViewBag.KoraAlamia[0].ID">
                                <div class="content-img">
                                    <img class=" lazyloaded" src="~/images/@ViewBag.KoraAlamia[0].Image" width="740" height="416" alt="">
                                </div>
                                <div class="content-text">
                                    <h3>
                                        @ViewBag.KoraAlamia[0].Title
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="row">
                            <div class=" col-lg-12">
                                <div class="item-li  ">
                                    <a href="/Home/Essay/@ViewBag.KoraAlamia[1].ID" title="">
                                        <div class="content-img">
                                            <img class=" ls-is-cached lazyloaded" src="~/images/@ViewBag.KoraAlamia[1].Image" data-src="~/images/@ViewBag.KoraAlamia[1].Image" alt="">
                                        </div>
                                        <div class="content-text">
                                            <h3>
                                                @ViewBag.KoraAlamia[1].Title
                                            </h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class=" col-lg-12">
                                <div class="item-li  ">
                                    <a href="/Home/Essay/@ViewBag.KoraAlamia[2].ID" title="">
                                        <div class="content-img">
                                            <img class=" ls-is-cached lazyloaded" src="~/images/@ViewBag.KoraAlamia[2].Image" data-src="~/images/@ViewBag.KoraAlamia[2].Image" alt="">
                                        </div>
                                        <div class="content-text">
                                            <h3>
                                                @ViewBag.KoraAlamia[2].Title
                                            </h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class=" col-lg-12">
                                <div class="item-li  ">
                                    <a href="/Home/Essay/@ViewBag.KoraAlamia[3].ID" title="">
                                        <div class="content-img">
                                            <img class=" ls-is-cached lazyloaded" src="~/images/@ViewBag.KoraAlamia[3].Image" data-src="~/images/@ViewBag.KoraAlamia[3].Image" alt="">
                                        </div>
                                        <div class="content-text">
                                            <h3>
                                                @ViewBag.KoraAlamia[3].Title
                                            </h3>
                                        </div>
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="foot">
                        <a href="/Home/Categories/3" title="كرة عالمية">المزيد</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="block ">
                    <div class="title">
                        <a href="/Home/Categories/1002" title="نجوم كرة القدم">
                            <h2> نجوم كرة القدم </h2>
                        </a>
                    </div>
                    <div class="content">
                        <div class="item-card">
                            <a href="/Home/Essay/@ViewBag.NgomElkora[0].ID">
                                <div class="content-img">
                                    <img class=" lazyloaded" src="~/images/@ViewBag.NgomElkora[0].Image" width="740" height="416" alt="">
                                </div>
                                <div class="content-text">
                                    <h3>
                                        @ViewBag.NgomElkora[0].Title
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="row">
                            <div class=" col-lg-12">
                                <div class="item-li  ">
                                    <a href="/Home/Essay/@ViewBag.NgomElkora[1].ID" title="">
                                        <div class="content-img">
                                            <img class=" ls-is-cached lazyloaded" src="~/images/@ViewBag.NgomElkora[1].Image" data-src="~/images/@ViewBag.NgomElkora[1].Image" alt="">
                                        </div>
                                        <div class="content-text">
                                            <h3>
                                                @ViewBag.NgomElkora[1].Title
                                            </h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class=" col-lg-12">
                                <div class="item-li  ">
                                    <a href="/Home/Essay/@ViewBag.NgomElkora[2].ID" title="">
                                        <div class="content-img">
                                            <img class=" ls-is-cached lazyloaded" src="~/images/@ViewBag.NgomElkora[2].Image" data-src="~/images/@ViewBag.NgomElkora[1].Image" alt="">
                                        </div>
                                        <div class="content-text">
                                            <h3>
                                                @ViewBag.NgomElkora[2].Title
                                            </h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class=" col-lg-12">
                                <div class="item-li  ">
                                    <a href="/Home/Essay/@ViewBag.NgomElkora[3].ID" title="">
                                        <div class="content-img">
                                            <img class=" ls-is-cached lazyloaded" src="~/images/@ViewBag.NgomElkora[3].Image" data-src="~/images/@ViewBag.NgomElkora[1].Image" alt="">
                                        </div>
                                        <div class="content-text">
                                            <h3>
                                                @ViewBag.NgomElkora[3].Title
                                            </h3>
                                        </div>
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="foot">
                        <a href="/Home/Categories/1002" title="نجوم كرة القدم">المزيد</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="block ">
                    <div class="title">
                        <a href="/Home/Categories/1003" title="ميركاتو  ">
                            <h2> ميركاتو </h2>
                        </a>
                    </div>
                    <div class="content">
                        <div class="item-card">
                            <a href="/Home/Essay/@ViewBag.Merkato[0].ID">
                                <div class="content-img">
                                    <img class=" lazyloaded" src="~/images/@ViewBag.Merkato[0].Image" width="740" height="416" alt="">
                                </div>
                                <div class="content-text">
                                    <h3>
                                        @ViewBag.Merkato[0].Title
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="row">
                            <div class=" col-lg-12">
                                <div class="item-li  ">
                                    <a href="/Home/Essay/@ViewBag.Merkato[1].ID" title="">
                                        <div class="content-img">
                                            <img class=" ls-is-cached lazyloaded" src="~/images/@ViewBag.Merkato[1].Image" data-src="~/images/@ViewBag.Merkato[1].Image" alt="">
                                        </div>
                                        <div class="content-text">
                                            <h3>
                                                @ViewBag.Merkato[1].Title
                                            </h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class=" col-lg-12">
                                <div class="item-li  ">
                                    <a href="/Home/Essay/@ViewBag.Merkato[2].ID" title="">
                                        <div class="content-img">
                                            <img class=" ls-is-cached lazyloaded" src="~/images/@ViewBag.Merkato[2].Image" data-src="~/images/@ViewBag.Merkato[2].Image" alt="">
                                        </div>
                                        <div class="content-text">
                                            <h3>
                                                @ViewBag.Merkato[2].Title
                                            </h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class=" col-lg-12">
                                <div class="item-li  ">
                                    <a href="/Home/Essay/@ViewBag.Merkato[3].ID" title="">
                                        <div class="content-img">
                                            <img class=" ls-is-cached lazyloaded" src="~/images/@ViewBag.Merkato[3].Image" data-src="~/images/@ViewBag.Merkato[3].Image" alt="">
                                        </div>
                                        <div class="content-text">
                                            <h3>
                                                @ViewBag.Merkato[3].Title
                                            </h3>
                                        </div>
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="foot">
                        <a href="/Home/Categories/1003" title="ميركاتو">المزيد</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="thirdSection">
    <div class="container">
        <div class="block ">
            <div class="title">
                <a href="/home/categories/1004" title="رياضات أخري ">
                    <h2> رياضات أخري </h2>
                </a>
            </div>
            <div class="content">
                <div class="row">
                    @foreach (var item in ViewBag.OtherSports)
                    {

                        <div class="col-12 col-sm-6 col-md-4 ">
                            <div class="item-card   ">
                                <a href="/Home/essay/@item.ID">
                                    <div class="content-img">
                                        <img class=" ls-is-cached lazyloaded" src="~/images/@item.Image" data-src="~/images/@item.Image" width="740" height="416" alt="">
                                    </div>
                                    <div class="content-text">
                                        <h3>
                                            @item.Title
                                        </h3>
                                    </div>
                                </a>
                            </div>
                        </div>

                    }

                </div>
            </div>
            <div class="foot">
                <a href="/home/categories/1004" class="more" title="رياضات أخري">المزيد</a>
            </div>
        </div>
    </div>
</section>

<section class="fourthSection">

    <section class="sec-sport">
        <div class="container">
            <div class="block ncsport ">
                <div class="title">
                    <a href="Home/categories/1009" class="more" title="سبورتيجا لايت">
                        <h2> سبورتيجا لايت </h2>
                    </a>
                </div>
                <div class="content">
                    <div class="row" >
                        <div class="col-12 col-md-6">
                            <div class="item-bg lg   ">
                                <a href="/Home/Essay/@ViewBag.SportigaLite[0].ID">
                                    <div class="content-img" style="height: 400px;">
                                        <img class=" lazyloaded" src="~/images/@ViewBag.SportigaLite[0].Image" width="740" height="416" alt="">
                                    </div>
                                    <div class="content-text">
                                        <h5>
                                            @ViewBag.SportigaLite[0].Title
                                        </h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="row" style="justify-content:center">
                                <div class="col-10 col-sm-6 col-md-6">
                                    <div class="item-bg sm  ">
                                        <a href="/Home/Essay/@ViewBag.SportigaLite[1].ID">
                                            <div class="content-img ">
                                                <img class=" lazyloaded" src="~/images/@ViewBag.SportigaLite[1].Image" width="740" height="416" alt="">
                                            </div>
                                            <div class="content-text">
                                                <h6>
                                                    @ViewBag.SportigaLite[1].Title
                                                </h6>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-10 col-sm-6 col-md-6">
                                    <div class="item-bg sm  ">
                                        <a href="/Home/Essay/@ViewBag.SportigaLite[2].ID">
                                            <div class="content-img ">
                                                <img class=" lazyloaded" src="~/images/@ViewBag.SportigaLite[2].Image" width="740" height="416" alt="">
                                            </div>
                                            <div class="content-text">
                                                <h6>
                                                    @ViewBag.SportigaLite[2].Title
                                                </h6>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-10 col-sm-6 col-md-6">
                                    <div class="item-bg  sm ">
                                        <a href="/Home/Essay/@ViewBag.SportigaLite[3].ID">
                                            <div class="content-img ">
                                                <img class=" lazyloaded" src="~/images/@ViewBag.SportigaLite[3].Image" width="740" height="416" alt="">
                                            </div>
                                            <div class="content-text">
                                                <h6>
                                                    @ViewBag.SportigaLite[3].Title
                                                </h6>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-10 col-sm-6 col-md-6">
                                    <div class="item-bg  sm ">
                                        <a href="/Home/Essay/@ViewBag.SportigaLite[4].ID">
                                            <div class="content-img">
                                                <img class=" lazyloaded" src="~/images/@ViewBag.SportigaLite[4].Image" width="740" height="416" alt="">
                                            </div>
                                            <div class="content-text">
                                                <h6>
                                                    @ViewBag.SportigaLite[4].Title
                                                </h6>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="foot">
                    <a href="Home/categories/1009" class="more" style="color:#fff" title="سبورتيجا لايت">المزيد</a>
                </div>
            </div>
        </div>
    </section>
</section>

<section class="fifthSection">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 ">
                <div class="block">

                    <div class="title">
                        <a href="/Home/Categories/1005" title="تقارير وحورات">
                            <h2> تقارير وحورات </h2>
                        </a>
                    </div>

                    <div class="content">
                        <div class="item-card">
                            <a href="/Home/Essay/@ViewBag.TqarerAnd7warat[0].ID">
                                <div class="content-img">
                                    <img src="~/images/@ViewBag.TqarerAnd7warat[0].Image" width="450" height="253" />
                                </div>
                                <div class="content-text">
                                    <h3>
                                        @ViewBag.TqarerAnd7warat[0].Title
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="item-card">
                                    <a href="/Home/Essay/@ViewBag.TqarerAnd7warat[1].ID">
                                        <div class="content-img ss">
                                            <img src="~/images/@ViewBag.TqarerAnd7warat[1].Image" width="213" height="119" />
                                        </div>
                                        <div class="content-text">
                                            <h3>
                                                @ViewBag.TqarerAnd7warat[1].Title
                                            </h3>
                                        </div>
                                    </a>
                                </div>

                            </div>
                            <div class="col-6">
                                <div class="item-card">
                                    <a href="/Home/Essay/@ViewBag.TqarerAnd7warat[2].ID">
                                        <div class="content-img ss">
                                            <img src="~/images/@ViewBag.TqarerAnd7warat[2].Image" width="213" height="119" />
                                        </div>
                                        <div class="content-text">
                                            <h3>
                                                @ViewBag.TqarerAnd7warat[2].Title
                                            </h3>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="foot">
                        <a href="/Home/Categories/1005" class="more" title="تقارير وحورات">المزيد</a>
                    </div>
                </div><!--./block-->
            </div>

            <div class="col-12 col-md-6 ">
                <div class="block">

                    <div class="title">
                        <a href="/Home/Categories/1007" title="أقلام حرة  ">
                            <h2> أقلام حرة  </h2>
                        </a>
                    </div>

                    <div class="content">
                        <div class="item-card">
                            <a href="/Home/Essay/@ViewBag.Aklam7ora[0].ID">
                                <div class="content-img">
                                    <img src="~/images/@ViewBag.Aklam7ora[0].Image" width="450" height="253" />
                                </div>
                                <div class="content-text">
                                    <h3>
                                        @ViewBag.Aklam7ora[0].Title
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="item-card">
                                    <a href="/Home/Essay/@ViewBag.Aklam7ora[1].ID">
                                        <div class="content-img ss">
                                            <img src="~/images/@ViewBag.Aklam7ora[1].Image" width="213" height="119" />
                                        </div>
                                        <div class="content-text">
                                            <h3>
                                                @ViewBag.Aklam7ora[1].Title
                                            </h3>
                                        </div>
                                    </a>
                                </div>

                            </div>
                            <div class="col-6">
                                <div class="item-card">
                                    <a href="/Home/Essay/@ViewBag.Aklam7ora[2].ID">
                                        <div class="content-img ss">
                                            <img src="~/images/@ViewBag.Aklam7ora[2].Image" width="213" height="119" />
                                        </div>
                                        <div class="content-text">
                                            <h3>
                                                @ViewBag.Aklam7ora[2].Title
                                            </h3>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="foot">
                        <a href="/Home/Categories/1007" title="أقلام حرة  " class="more">المزيد</a>
                    </div>
                </div><!--./block-->
            </div>

        </div>
    </div>
</section>

