@model Sportiga.ViewModelComponant.UserRoleModel;
@using Sportiga.Models;

@{
    ViewData["Title"] = "Users";
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";

}
<link href="~/plugins/paginig/paginig.css" rel="stylesheet" />
<script src="~/plugins/paginig/paginig.js"></script>
@section Customscripts{
    <script>
        $(document).ready(function () {


            $('.table .AddRole').on('click', function () {

                var UserName = $(this).parent().find('.UserName').val();
                $('#AddRole #UserId').val(UserName);



            });

            $('table .delete').on('click', function () {

                var id = $(this).parent().find('.id').val();
                $('#deleteUser #id').val(id);


            });

            $('table .update').on('click', function () {

                var id = $(this).parent().find('.id').val();
                $.ajax({

                    type: 'GET',
                    url: '/Admin/CreateRole/find/' + id,
                    success: function (user) {
                        $('#updateUSer #id').val(id);
                        $('#updateUSer #FullName').val(user.FullName);
                    }

                })
            });

            $(function () {

                $('#tbldata').paging({ limit: 2});

            })

        });

    </script>
}
<div class="card">
    <div class="card-header d-flex justify-content-start align-items-center ">
        <h3 class="card-title"></h3>
        <button class=" btn  bg-success">

            <i class="fa fa-plus mr-1"> </i>
            <a href="/Identity/Account/register" target="_blank">
                Add New User
            </a>
        </button>

    </div>
    @*/.card-header*@
    <div class="card-body">


        <table class="table table-bordered" id="tbldata">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var i = 1;
                    foreach (var item in ViewBag.Users)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.FullName</td>
                            <td>
                                @item.Email
                            </td>
                            <td>
                                @foreach (var user in ViewBag.UserRole)
                                {
                                    if (item.Id == user.UserId)
                                    {
                                        var roleId = user.RoleId;
                                        foreach (var role in ViewBag.Roles)
                                        {
                                            if (role.Id == roleId)
                                            {

                                                <p style="text-transform:capitalize">
                                                    @role.Name
                                                    <a href=@Url.Action("RemoveRole","CreateRole" , new {userid= @user.UserId , roleid=@role.Id})>
                                                        <i class="fas  fa-trash-alt" style="color:red"></i>
                                                    </a>
                                                </p>

                                            }
                                        }
                                    }
                                }
                            </td>
                            <td>
                                <button class=" btn badge bg-warning AddRole" data-toggle="modal" data-target="#AddRole">
                                    Add Role
                                </button>
                                <button class=" btn badge bg-primary update" data-toggle="modal" data-target="#updateUSer">
                                    Update
                                </button>
                                <button class=" btn badge bg-danger delete" data-toggle="modal" data-target="#deleteUser">
                                    Delete
                                </button>
                                <input type="hidden" value="@item.UserName" class="UserName" />
                                <input type="hidden" value="@item.Id" class="id" />
                            </td>
                        </tr>
                        i = i + 1;
                    }
                }

            </tbody>
        </table>
    </div>
    @*/.card-body*@

</div>






<div class=" modal fade" id="AddRole">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="AddSectionLabel"> Assign Role To User </h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span class="text-muted">x</span>
                </button>
            </div>

            <form asp-action="SaveRole">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">Username</label>
                        <input type="text" id="UserId" name="UserId" value="" class="form-control" />
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Role Name</label>
                        <select style="width:100%" asp-for="RoleId" asp-items="new SelectList(ViewBag.Roles)"></select>

                        <span asp-validation-for="RoleId" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-gray-light" data-dismiss="modal">Close</button>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>

    </div>
</div>


<!-- Update Modal -->

<div class=" modal fade" id="updateUSer">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="AddSectionLabel"> Change User Name </h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span class="text-muted">x</span>
                </button>
            </div>

            <form method="post" asp-controller="CreateRole" asp-action="updateUSer">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="FullName"></label>
                        <input type="text" id="FullName" name="FullName" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-danger" value="Save Changes" />
                    <input type="hidden" id="id" name="id" value="" />
                </div>
            </form>
        </div>

    </div>
</div>

<!-- Delete Modal -->
<div id="deleteUser" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <form method="post" asp-controller="CreateRole" asp-action="deleteUser">
                <div class="modal-header flex-column">
                    <div class="icon-box">
                        <i class="fas fa-times"></i>
                    </div>
                    <h4 class="modal-title w-100">Are you sure?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete these records? This process cannot be undone.</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-danger " value="Delete" />
                    <input type="hidden" id="id" name="id" value="" />
                </div>
            </form>
        </div>
    </div>
</div>
